@import "../../style.scss";

.Home {
  @include themify($themes) {
    background-color: themed("bg");
    padding: 4rem 4rem 1rem 4rem;

    .top-search {
      display: flex;
      justify-content: space-between;
      input {
        width: 400px;
        border: 0;
        color: themed("textColor");
        padding: 0.6rem 2rem;
        background-color: themed("elements");
        &::placeholder {
          color: themed("textColor");
        }
      }
      select {
        background-color: themed("elements");
        color: themed("textColor");
        padding: .3rem 1rem;
        cursor: pointer;
        border: none;
      }
    }
    .countries {
      margin-top: 2rem;
    }
  }
}
