@import '../../style.scss';

.Navbar {
  @include themify ($themes) {
    display: flex;
    align-items: center;
    color: themed('textColor');
    background-color: themed('elements');
    padding: 1rem 4rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;

    p{
      font-weight: 600;
    }
    @include mobile {
      padding: 1rem;
      h2, p {
        font-size: .9rem;
      }

    }
  }
}
