@import '../../style.scss';

.country {
  @include themify($themes) {
    width: 264px;
    min-height: 330px;
    background-color: themed('elements');
    box-shadow: 1px 5px 10px 1px themed('shadow');
    border-radius: 6px;
    overflow: hidden;
    
    img {
      width: 100%;
    }
    .info {
      padding: 1rem 2rem;
      color: themed('textColor');

      h3 {
        font-size: 16px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 13px;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}