@import "../../style.scss";

.SingleCountry {
  @include themify($themes) {
    min-height: 100vh;
    background-color: themed("bg");
    color: themed("textColor");
    padding: 2rem 4rem;

    .button-container {
      margin-bottom: 3rem;
      .button-back {
        margin-bottom: 1rem;
        span {
          max-width: fit-content;
          color: themed("textColor");
          background-color: themed("elements");
          padding: 0.5rem 2rem;
          display: flex;
          align-items: center;
          box-shadow: 1px 1px 10px 1px themed('shadow');
        }
      }
    }
    .country-container {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 3rem;
      .country-img {
        width: 50%;
        img {
          width: 100%;
          max-height: 500px;
        }
      }
      .country-info {
        display: flex;
        gap: 1rem;
        align-items: center;

        h1,
        p {
          margin-bottom: 1rem;
          span {
            font-weight: bold;
          }
        }
      }
    }

  }
}
